.App {
  text-align: center;
}
/*
.glowing-border {
  border: 2px solid #dadada;
  border-radius: 7px;
} */

.glowing-border {
  outline: none;
  border-color: #60B87C;
  box-shadow: 0 0 10px #60B87C;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.section-title {
    color: #ED6E72;
    font-size: 24px;
    width: 60vw;
    font-weight: 100;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyfra
mes App-logo-spin {
  from {
    background-color: #001F3F;
  }

  to {
    background-color: #FF4136;
  }
}



/* @-webkit-keyframes glowing {
  0%   {  -webkit-box-shadow: 0 0 3px #60B87C; }
  50%  {  -webkit-box-shadow: 0 0 20px #60B87C; }
  100% {  -webkit-box-shadow: 0 0 3px #60B87C; }
}

@-moz-keyframes glowing {
  0%   { -moz-box-shadow: 0 0 3px #60B87C; }
  50%  { -moz-box-shadow: 0 0 20px #60B87C; }
  100% { -moz-box-shadow: 0 0 3px #60B87C; }
}

@-o-keyframes glowing {
  0%   { box-shadow: 0 0 3px #60B87C; }
  50%  { box-shadow: 0 0 20px #60B87C; }
  100% { box-shadow: 0 0 3px #60B87C; }
} */

@keyframes glowGreen {
  0%   { box-shadow: 0 0 3px #60B87C; }
  50%  { box-shadow: 0 0 20px #60B87C; }
  100% { box-shadow: 0 0 3px #60B87C; }
}


@keyframes glowYellow {
  0%   { box-shadow: 0 0 3px #1069FC; }
  50%  { box-shadow: 0 0 20px #1069FC; }
  100% { box-shadow: 0 0 3px #1069FC; }
}

.glowGreen {
  /* -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite; */
  animation: glowGreen 1500ms infinite;
}

.glowYellow {
  animation: glowYellow 1500ms infinite;
}

.outline {
  border: 2px solid #F34538;
  background-color: transparent;
  color: #F34538;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.outline:hover {
  border: 2px solid #2A3335;
  background-color: #2A3335;
}

.viewLink{
  border: 1px solid #2A3335;
  padding: 5px 10px;

}

.viewLink:hover{
  border: 1px solid #ED6E72;
}

.input{
  color: "#9D9C9D";
}