.App {
  text-align: center;
}
/*
.glowing-border {
  border: 2px solid #dadada;
  border-radius: 7px;
} */

.glowing-border {
  outline: none;
  border-color: #60b87c;
  box-shadow: 0 0 10px #60b87c;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.container {
  padding: 50px;
}

.section-title {
  color: #ed6e72;
  font-size: 24px;
  width: 60vw;
  font-weight: 300;
}

.red-title {
  color: #f34538;
  text-align: left;
  font-size: 24px;
  width: 60vw;
  font-weight: 300;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @-webkit-keyframes glowing {
  0%   {  -webkit-box-shadow: 0 0 3px #60B87C; }
  50%  {  -webkit-box-shadow: 0 0 20px #60B87C; }
  100% {  -webkit-box-shadow: 0 0 3px #60B87C; }
}

@-moz-keyframes glowing {
  0%   { -moz-box-shadow: 0 0 3px #60B87C; }
  50%  { -moz-box-shadow: 0 0 20px #60B87C; }
  100% { -moz-box-shadow: 0 0 3px #60B87C; }
}

@-o-keyframes glowing {
  0%   { box-shadow: 0 0 3px #60B87C; }
  50%  { box-shadow: 0 0 20px #60B87C; }
  100% { box-shadow: 0 0 3px #60B87C; }
} */

@keyframes glowGreen {
  0% {
    box-shadow: 0 0 3px #60b87c;
  }
  50% {
    box-shadow: 0 0 20px #60b87c;
  }
  100% {
    box-shadow: 0 0 3px #60b87c;
  }
}

@keyframes glowYellow {
  0% {
    box-shadow: 0 0 3px #1069fc;
  }
  50% {
    box-shadow: 0 0 20px #1069fc;
  }
  100% {
    box-shadow: 0 0 3px #1069fc;
  }
}

.glowGreen {
  /* -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite; */
  animation: glowGreen 1500ms infinite;
}

.glowBlue {
  animation: glowYellow 1500ms infinite;
}

.outline {
  border: 2px solid #f34538;
  background-color: transparent;
  color: #f34538;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.outline:hover {
  border: 2px solid #2a3335;
  background-color: #2a3335;
}

.viewLink {
  color: #ed6e72;
  border: 1px solid #2a3335;
  padding: 5px 10px;
}

.viewLink:hover {
  border: 1px solid #ed6e72;
}

.grey {
  color: "#9D9C9D";
}

.dark {
  color: #070808;
}

.listCard {
  background-color: #2a3335;
  padding: 10px;
}
.listCard:hover {
  background-color: #222224;
}

.taskCard {
  background-color: #2a3335;
  padding: 10px;
}

.createTaskModal {
  background-color: #2a3335;
}

.modalButton {
  margin: 5px !important;
}
.cardText {
  color: white;
  text-align: left;
  padding: 0;
}

.modal-footer {
  background-color: #2a3335 !important ;
}
